<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Список Подрядчиков</title>
</head>
<body>

<div th:replace="header :: header"></div>

<br><br>
<div>
 <table class="contractorstable" border="1">
 <caption align="top"><h3>Список Подрядчиков &nbsp&nbsp&nbsp&nbsp
   <form th:action="@{/admin/contractorCreate}" method="get" style="display:inline;">
   <input type="submit" value="Добавить подрядчика">
   </form></h3>
 </caption>
        <tr>
          <th> id </th> <th>Название</th> <th>Логин</th> <th>Номер договора</th> <th>Дата договора</th>
          <th> Почта Подрядчик</th> <th>Почта МТС</th> <th>Виды работ (объем)</th> <th>Срок действия договора: до</th>
        </tr>
         
        <tr th:each="contractor : ${contractors}">
           <td th:text="${contractor.getId} ">id</td><td th:text="${contractor.getName} ">Название</td>
           <td th:text="${contractor.getContractor} ">Логин</td><td th:text="${contractor.getNumber} ">Номер договора</td>
           <td th:text="${contractor.getDate} ">Дата договора</td>
           <td> <table class="ct"><tr><td th:text="${contractor.getEmail1}">Почта 1 ПО</td></tr> <tr><td th:text="${contractor.getEmail2}">Почта 2 ПО</td></tr><tr><td th:text="${contractor.getEmail3}">Почта 3 ПО</td></tr></table></td>
           <td> <table class="ct"><tr><td th:text="${contractor.getEmail11}">Почта 11 МТС</td></tr> <tr><td th:text="${contractor.getEmail12}">Почта 12 МТС</td></tr><tr><td th:text="${contractor.getEmail13}">Почта 13 МТС</td></tr></table></td>
           <td th:text="${contractor.getWork} ">Виды работ (объем)</td>
           <td th:text="${contractor.getContractEnd} ">Срок действия договора: до</td>
           
           <td>
           <form th:action="@{/admin/contractorEdit}" method="get">
                 <input type="hidden" name="id" th:value="${contractor.getId}">
                 <input type="submit" value="Редактировать" style="background:#98FB98;">
           </form>
           <br>
           <form th:action="@{/superadmin/contractorDelete}" method="get">
                 <input type="hidden" name="id" th:value="${contractor.getId}">
                 <input type="submit" value="Удалить" style="background:#FF0000; color:white;">
            </form>
            </td>        
        </tr>          
    </table>
</div>
<br><br>
    
<div th:replace="footer :: footer"></div>
</body>
</html>