<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Главная страница</title>
</head>
<body>
<div class="header">
<a th:href="@{/logout}">Выйти</a> &nbsp | &nbsp<a th:href="@{/admin/usersShow}">Редактирование пользователей (admin)</a>
</div>
<br><br>

<h1 style="color:red;">Проверка / Создание Заказов подрядных организаций.</h1>
<ul id="listPo">
<li><h3><a th:href="@{/priceItems}"> ООО "ВетексЭлектро" </a> Демонтаж/временный демонтаж/перенос по требованию арендодателя.</h3></li>
<li><h3><a th:href="@{/priceItems/sps}">ООО "СоюзПетроСервис" </a> ТО/АВР инфраструктуры и АФУ. (Инфраструктура - 60%, АФУ - 30%)</h3></li>
<li><h3><a th:href="@{/priceItems/volot}">ООО "Волот" </a> ТО/АВР инфраструктуры и АФУ. (Инфраструктура - 40%, АФУ - 10%)</h3></li>
<li><h3><a th:href="@{/priceItems/telecom}">ООО "Телеком-Сервис" </a> ТО/АВР АФУ. (АФУ - 60%)</h3></li>
<li><h3><a th:href="@{/priceItems/telros}">ООО "Телрос" </a> ТО/АВР охранно-пожарных систем.</h3></li>
</ul>

<div th:replace="footer :: footer"></div>
</body>
</html>