<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Главная страница</title>
</head>
<body>
<div class="header">
<a th:href="@{/logout}">Выйти</a> &nbsp | &nbsp<a th:href="@{/admin/usersShow}">Редактирование пользователей (admin)</a>
</div>
<br><br>

<h1 style="color:red;">Проверка / Создание Заказов подрядных организаций.</h1>

<br>
<table class=listPoTable>
<tr><th>Организация</th><th>Виды работ (объем)</th><th>Срок действия договора: до</th></tr>
<tr><td><a th:href="@{/priceItems}"> ООО "ВетексЭлектро" </a></td><td>Демонтаж/временный демонтаж/перенос по требованию арендодателя. (100%)</td><td>31.12.2021.</td></tr>
<tr><td><a th:href="@{/priceItems/sps}">ООО "СоюзПетроСервис" </a></td><td>ТО/АВР инфраструктуры и АФУ. (Инфраструктура - 60%, АФУ - 30%.)</td><td>30.11.2023.</td></tr>
<tr><td><a th:href="@{/priceItems/volot}">ООО "Волот" </a></td><td>ТО/АВР инфраструктуры и АФУ. (Инфраструктура - 40%, АФУ - 10%.)</td><td>30.11.2023.</td></tr>
<tr><td><a th:href="@{/priceItems/telecom}">ООО "Телеком-Сервис" </a></td><td>ТО/АВР АФУ. (АФУ - 60%.)</td><td>30.11.2023.</td></tr>
<tr><td><a th:href="@{/priceItems/telros}">ООО "Телрос" </a></td><td>ТО/АВР охранно-пожарных систем. (100%)</td><td>31.12.2023.</td></tr>
</table>

<br><br>
<div th:replace="footer :: footer"></div>
</body>
</html>