<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Изменение пароля</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br>
 <div class="parent1">
 
 <div>
 <h3 style="text-align: center"> Форма изменения пароля</h3>
 <fieldset style="border-color:#FFEBCD;text-align: center">
  <form id="passwordEdit" th:action="@{/passwordChange}" method="post">
        <label>Старый пароль</label><br>
        <input type="password" name="oldPassw"  style="text-align: center"/>
        <br><br>
        <label>Новый пароль ***</label><br>
        <input type="password" name="newPassw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*]).{8,}"  style="text-align: center;"/>
        <br><br>
        <label>Повторите новый пароль</label><br>
        <input type="password" name="newPasswRepeat" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*]).{8,}"  style="text-align: center;"/>
        <br><br>
	    <input type="submit" value="Сохранить" style="width: 100px; height: 40px; background-color: #98FB98;">
 </form>
 </fieldset>
 <p>*** Не менее 8 символов. Обязательно: заглавная и строчная буквы латинского алфавита,цифра,символ(!,@,#,$,%,&,*).</p>
 </div>
 
 </div>
 <br><br>
 
<div th:replace="footer :: footer"></div>

</body>
</html>