<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>БД Заявок</title>
</head>
<body id="up1">

<div class="headerShowOrders">
<div  th:replace="header :: header"></div>

<p id="up"><a href="#down" class="up">В конец страницы ↓</a></p>

<div class="find" id="find">
  <div id="ordersshow1">         
     <form th:action="@{/orders/findByOrderNumber}" th:method="get" style="display:inline;">
       <label>Поиск по № Заказа  </label> &nbsp&nbsp
       <input type="number" name="orderNumberSearch" min="0" required>
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="hidden" name="contractname" th:value="${contractname}">
       <input type="submit" value="Найти" >
     </form> &nbsp&nbsp | &nbsp&nbsp
     <form th:action="@{/orders/showAllOrders}" method="get" style="display:inline;">
       <label>Показать все Заявки</label> &nbsp&nbsp
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="submit" name="submit" value="Показать">
     </form> &nbsp&nbsp | &nbsp&nbsp
     <span>Отправка Заявки: </span>
     <span>
     <a th:href="'mailto:'+${email1 !=null ? email1 : ''}+';'+${email2 !=null ? email2 : ''}+';'+
     ${email3 !=null ? email3 : ''}+'?cc='+${email11 !=null ? email11 : ''}+';'+${email12 !=null ? email12 : ''}+';'+
     ${email13 !=null ? email13 : ''}"><img src="/images/envelope.jpg" alt="mail" title="Отправка Заявки" width="25" height="25" style="border: none"></a>
     </span>
     <br><br>  
     <form th:action="@{/orders/findByBsName}" th:method="get">
       <label>Поиск по № БС</label> &nbsp&nbsp
       <input type="text" name="bsNumberSearch" placeholder="Код '78-' указывать необязательно" style="width:220px" required>
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="hidden" name="contractname" th:value="${contractname}">
       <input type="submit" value="Найти" >  
     </form>  
  </div>
  <div id="ordersshow2">
  <h3 th:text="${contractname}" style="color:#8B4513;"></h3>
  </div>            
</div>
</div>
<div class="ordersShowOrders">
<table class="listItems">
<tr>
<th class="col11">№ Заказа</th><th class="col12">№ БС</th><th class="col13">Дата ТЗ</th><th class="col14">Стоимость без|c НДС</th>
<th class="15">ИД</th><th class="col16">Внесено в Кедр</th><th class="col17">Статус Заказа</th>
<th class="col18">Срок по ТЗ</th><th class="col19">Вид работ</th>
<th class="col20">Комментарии (статус/проверка/приемка)</th><th class="col21"></th>
</tr>
<tr th:each="listOrder : ${listOrders}">
<td th:text="${listOrder.getOrdernumber}" class="col11"></td><td th:text="${listOrder.getBsnumber}" th:title="${listOrder.getBsaddress}" class="col12"></td>
<td th:text="${listOrder.getSend}" class="col13"></td><td th:text="${listOrder.getSumwithoutnds}+' | '+${listOrder.getSumwithnds}" class="col14"></td>
<td th:text="${listOrder.getReport}" th:class="${listOrder.getReport =='да' ? 'col151' : 'col152'}"></td>
<td th:text="${listOrder.getCedr}" th:title="${listOrder.getAuthor}" th:class="${listOrder.getCedr =='да' ? 'col161' : 'col162'}"></td>
<td th:text="${listOrder.getStatus}" class="col17"></td><td th:text="${listOrder.getEndtime}" class="col18"></td>
<td th:text="${listOrder.getWorktype}" th:title="${listOrder.getComment}" class="col19"></td><td th:text="${listOrder.getOrderlistcomment}" class="col20"></td>
<td class="col21">
<form th:action="@{/orders/orderEdit}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Редактировать" style="background:#98FB98;">
</form> |
<form th:action="@{/orders/orderDelete}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Удалить" style="background:#FF0000; color:white;">
</form>
<br><br>
<form th:action="@{/orders/orderCopy}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Создать копию" style="background:#808080; color:white;">
</form> |
<form th:action="@{/orders/orderPage}" method="get" target="_blank" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="submit" name="submit" value="Страница Заявки" >
</form>
</td>
</tr>
</table>
</div>
<p id="down"><a href="#up1" class="down">В начало страницы ↑</a></p>
</body>
</html>