<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Список Заявок</title>
</head>
<body>
<div class="header">
<a th:href="@{/priceItems}" class="ref">На страницу ТЦП</a> &nbsp&nbsp | &nbsp&nbsp
<form th:action="@{/dispOrder}" th:method="get" style="display:inline;">
<input type="submit" value="Вернуться в Корзину" >
</form>
</div>
<br>
<div>
<table class="listItems">
<tr>
<th>№ Заказа</th><th>№ БС</th><th>Дата ТЗ</th><th>Стоимость без НДС</th><th>Стоимость с НДС</th><th>ИД</th><th>Внесено в Кедр</th>
<th>Статус Заказа</th><th>Срок по ТЗ</th><th>Вид работ</th><th>Комментарий</th><th class="col7"></th>
</tr>
<tr th:each="listOrder : ${listOrders}">
<td th:text="${listOrder.getOrdernumber}"></td><td th:text="${listOrder.getBsnumber}"></td><td th:text="${listOrder.getSend}"></td><td th:text="${listOrder.getSumwithoutnds}"></td>
<td th:text="${listOrder.getSumwithnds}"></td><td th:text="${listOrder.getReport}"></td><td th:text="${listOrder.getCedr}"></td><td th:text="${listOrder.getStatus}"></td>
<td th:text="${listOrder.getEndtime}"></td><td th:text="${listOrder.getWorktype}"></td><td th:text="${listOrder.getOrderlistcomment}"></td>
<td>
<form th:action="@{/orders/orderEdit}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Редактировать" style="background:#98FB98;">
</form> |
<form th:action="@{/orders/orderDelete}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Удалить" style="background:#FF0000; color:white;">
</form>
<p></p>
<form th:action="@{/orders/orderCopy}" method="get">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Создать копию" style="background:#808080; color:white;">
</form>
</p>
</td>
</tr>

</table>
</div>

</body>
</html>