<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>БД Заявок</title>
</head>
<body>
<br>
<div class="find">         
     <form th:action="@{/orders/findByOrderNumber}" th:method="get" style="display:inline;">
       <label>Поиск по № Заказа  </label> &nbsp&nbsp
       <input type="number" name="orderNumberSearch" min="0" required>
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="submit" value="Найти" >
     </form> &nbsp&nbsp
     <form th:action="@{/orders/showAllOrders}" method="get" style="display:inline;">
       <label>Показать все Заявки</label> &nbsp&nbsp
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="submit" name="submit" value="Показать">
     </form>
       <br><br>
     <form th:action="@{/orders/findByBsName}" th:method="get" >
       <label>Поиск по № БС</label> &nbsp&nbsp
       <input type="text" name="bsNumberSearch" placeholder="Код '78-' указывать необязательно" style="width:220px" required>
       <input type="hidden" name="contractnumber" th:value="${contractnumber}">
       <input type="hidden" name="contractdate" th:value="${contractdate}">
       <input type="submit" value="Найти" >  
     </form>            
</div>
<div>
<table class="listItems">
<tr>
<th class="col11">№ Заказа</th><th class="col12">№ БС</th><th class="col13">Дата ТЗ</th><th class="col14">Стоимость без НДС</th>
<th class="15">ИД</th><th class="col16">Внесено в Кедр</th><th class="col17">Статус Заказа</th>
<th class="col18">Срок по ТЗ</th><th class="col19">Вид работ</th>
<th class="col20">Комментарии (статус/проверка/приемка)</th><th class="col21"></th>
</tr>
<tr th:each="listOrder : ${listOrders}">
<td th:text="${listOrder.getOrdernumber}" class="col11"></td><td th:text="${listOrder.getBsnumber}" th:title="${listOrder.getBsaddress}" class="col12"></td>
<td th:text="${listOrder.getSend}" class="col13"></td><td th:text="${listOrder.getSumwithoutnds}" class="col14"></td>
<td th:text="${listOrder.getReport}" class="col15"></td><td th:text="${listOrder.getCedr}" class="col16"></td>
<td th:text="${listOrder.getStatus}" class="col17"></td><td th:text="${listOrder.getEndtime}" class="col18"></td>
<td th:text="${listOrder.getWorktype}" class="col19"></td><td th:text="${listOrder.getOrderlistcomment}" class="col20"></td>
<td class="col21">
<form th:action="@{/orders/orderEdit}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Редактировать" style="background:#98FB98;">
</form> |
<form th:action="@{/orders/orderDelete}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Удалить" style="background:#FF0000; color:white;">
</form>
<br><br>
<form th:action="@{/orders/orderCopy}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="submit" name="submit" value="Создать копию" style="background:#808080; color:white;">
</form> |
<form th:action="@{/orders/orderPage}" method="get" target="_blank" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="submit" name="submit" value="Страница Заявки" >
</form>
</td>
</tr>

</table>
</div>

</body>
</html>