@charset "UTF-8";

.listItems,.listItemsPrice,.listItemsPrice_searchPriceItems{
	width:100%;
	border:2px solid;
	border-collapse: collapse;
}

th,td{
		padding: 6px; 
		border: 2px solid; 
		text-align: center;
}

th {
	background:#FFFF00;
}
.ordertable{
	width:90%;
	border:2px solid;
	border-collapse: collapse;
}
.ordertable th{
	background:white;
}
.listPoTable{
	padding: 6px;
	border:none;
	text-align: left;
	font-size:20px;	
}
.listPoTable td{
	padding: 6px;
	border:none;
	text-align: left;
}
.listPoTable th{
	padding: 6px;
	font-size:22px;
	border:none;
	background:white;
}
.ct th{
	border:none;
	text-align: centre;
}
.ct td{
	border:none;
	text-align: centre;
}

.footercss{
position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #778899; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	text-align: center;
}

 .parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;  
}
.parent1 {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;  
}
.order {
	width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-bottom:50px;

}
.no-print{
	position:fixed;
	top:50px;
	right:40px;	
}
.parent_order {
	width: 700px;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.header {
	padding:10px;
	border-bottom: 1px solid #000000;
	background:white;
}
.headerDispOrder {
	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	padding:10px;
	background:white;
	border-bottom: 1px solid #000000;
	z-index: 1;
}
.headerShowOrders {
	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	padding:10px;
	background:white;
	border-bottom: 1px solid #000000;
	z-index: 1;
}
.pricesControl_priceItems {
	background:#FFFACD;
	padding:10px;
	border-bottom: 2px solid #FFFFFF;
	height:30px;
}
.pricesControl_prices {
	background:#FFFACD;
	padding:10px;
	border-bottom: 2px solid #FFFFFF;
	height:90px;
}

.search {
	background:#FFEFD5;
	padding:10px;
	border-bottom: 2px solid #FFFFFF;
	height:100px;
}

.cart {
	background:#98FB98;
	padding:10px;
	border-bottom: 2px solid #FFFFFF;
	height:40px;
}
.col1 {
	width: 15%;
}
.col152 {
	color:red;
	border-color:#000000;
}
.col2,.col161 {
	width: 5%;
}
.col3 {
	width: 30%;
}
.col162{
	width: 5%;
	color:red;
	border-color:#000000;
}
.col16{
	width: 5%;
}
.col4,.col5 {
	width: 10%;
}
.col7 {
	width: 18%;
	background:#FFFFFF;
}
.col8 {
	width: 18%;
}
.col19,.col20 {
	width: 14%;
}
.col21 {
	width: 18%;
}
.col211 {
	width: 10%;
}
.col213 {
	width: 30%;
}
#pricesControl_1,#search1 {
	float: left;
	width: 500px;
}
#pricesControl_2,#search2 {
	margin-left: 520px;
}
#pricesControl_3,#search3 {
	float:right;
	margin-right:15px;
}
#ordersshow1,#header1 {
	float: left;
	width: 880px;
}
#header2 {
	margin-left: 900px;
	margin-right:15px;
	text-align:right;
}
#ordersshow2 {
	margin-left: 900px;
}
#ordersshow3 {
	float:right;
	margin-right:15px;
	text-align:right;
}
.header a:link{
	color:black; text-decoration:none;
}
.header a:visited {
	color:black; text-decoration:none;
}
.header a:hover {
	color:blue; text-decoration:underline;
}
.userstable{
	border-collapse: collapse;
    width: 60%;
}
.contractorstable {
	border-collapse: collapse;
}
.bslisttable {
	border-collapse: collapse;
}
fieldset{
    
	border-color:#FFEBCD;
}
legend{
	color:#FF0000;
	font-family:courier new;
	font-size:20px;
	font-weight:normal;
}

.head,.head2,.head3,.head4,.head5{
	width:95%;
	border-collapse: collapse;
	border:none;
}
.foot,.foot1,.foot2,.foot3,.foot4{
	width:95%;
	border-collapse: collapse;
	border:none;
}
.head td{
	border:none;
}
.head2 td,.head3 td,.head4 td,.head5 td{
	border:none;
	text-align:left;
}
.foot td,.foot1 td,.foot2 td,.foot3 td,.foot4 td{
	border:none;
	text-align:left;
}
.roadMap[contentEditable="true"]:empty:before{
	content: attr(placeholder)
}
.roadMap{
	width: 700px;
    justify-content: center;
    border: 1px solid grey;
    text-align:center;
    min-height:30px;
}
a.ref:link,a.remedyhref:link {
	color:black; text-decoration:none;
}
a.ref:visited,a.remedyhref:visited {
	color:black; text-decoration:none;
}
a.ref:hover,a.remedyhref:hover {
	color:blue; text-decoration:underline;
}
.form{
	width: 300px;
	height: 30px;
	font-size:18px;
}
.btn{
	width: 300px;
	height: 30px;
	font-size:18px;
}
.find{
	height: 80px;
	border:2px solid red;
	padding: 9px;
	margin-bottom:10px;
}
.find1{
	margin-top:10px;
	margin-bottom:10px;
	border:2px solid red;
	padding: 9px;
}
.ordnum{
	background:#FFFFFF;
	border:2px solid #8B0000;
	color:#8B0000;
}

.adminUserPoBS{
	border:none;
}
.container {
  display: inline-block;
  position: relative;
}

.span {
  display: inline-block;
  background: #FF7F50;
  text-align: center;
  border-radius: 50%;
  padding: 50% 0;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.text {
  position: relative;
  top: -.5em;
  padding: 0em 0.65em;
  color: #FFFFFF;
  font-weight:bold;
}
#bslist1 {
	float: left;
	width: 650px;
}
#bslist2 {
	margin-left: 655px;
	text-align:left;
}
#users1 {
	float: left;
	width: 670px;
}
#users2 {
	margin-left: 675px;
	text-align:left;
}

.test {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  z-index: 2;
  background:white;
}
.test2{
  margin: 270px auto 0 auto;
  width: 100%;
  padding: 10px;
}

.items_searchPriceItems{
  margin: 100px auto 0 auto;
  width: 100%;
  padding: 10px;	
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
}

.progress-bar {
  height: 10px;
  background: #04AA6D;
  width: 0%;
}
.listItemsPrice th{
  position: -webkit-sticky;
  position: sticky;
  top:300px;
  z-index: 1;
}

.listItemsPrice_searchPriceItems th{
  position: -webkit-sticky;
  position: sticky;
  top:130px;
  z-index: 1;
}

.smetaDispOrder{
  margin: 30px auto 0 auto;
  width: 100%;
  padding: 10px;
}
.ordersShowOrders{
  margin: 230px auto 0 auto;
  width: 100%;
  padding: 10px;
}
input#ordernumber:invalid+i:after,input#bsnumber:invalid+i:after,input#send:invalid+i:after,input#start:invalid+i:after,
input#end:invalid+i:after,input#remedy:invalid+i:after,input#author:invalid+i:after,input#worktype:invalid+i:after{
	content: '*';
    color:red;
    padding-left: 5px;
}
input#ordernumber:valid+i:after,input#bsnumber:valid+i:after,input#send:valid+i:after,input#start:valid+i:after,
input#end:valid+i:after,input#remedy:valid+i:after,input#author:valid+i:after,input#worktype:valid+i:after{
	content: '\2714';
    color:#32CD32;
    padding-left: 5px;
}
.p_reqinputs{
	font-style: italic;
}
.i_reqinputs{
	color:red;
}
a.up:link,a.down:link,a.searchPricesItems_index:link{
	color:#8B0000; text-decoration:none;
}
a.up:visited,a.down:visited,a.searchPricesItems_index:visited {
	color:#8B0000; text-decoration:none;
}
a.up:hover,a.down:hover,a.searchPricesItems_index:hover {
	color:blue; text-decoration:underline;
}
input[type="submit"],input[type="button"]{
	transition: transform .2s;
	cursor: pointer;
}
input[type="submit"]:hover,input[type="button"]:hover{
	transform: scale(1.2);
}
.tcp_index,.bd_index{
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  color: black;
  transition: transform .2s;
  cursor: pointer;
}
.tcp_index {
  border: 2px solid	#4CAF50;
  background-color: white;
  color: black;
}
.tcp_index:hover {
  background-color: #4CAF50;
  color: white;
}
.bd_index {
  border: 2px solid #008CBA;
  background-color: white;
  color: black;
}
.bd_index:hover {
  background-color: #008CBA;
  color: white;
  transform:none !important;
}
@media print{
	.no-print,.no-print *
	{
	display: none !important;
	}
}
#save_pdf{
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  transition: transform .2s;
  cursor: pointer;
}
.remark{
	color:red;
}

.searchPricesItems_index{
	font-size: 22px;
	font-style:italic;
}
.load_allOrdersAdmin{
	margin-top: 40px;
}
.load2_allOrdersAdmin{
	margin-top: 30px;
} 