<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
 
<div class="parent">
 
    <div class="starter-template" style="text-align:center">
        <h1 style="color:red">В доступе отказано!</h1>
        <div th:inline="text"> <h3 style="color:black">Приветствую Вас, [[${#httpServletRequest.remoteUser}]]!
                У Вас нет разрешения на данные действия! Нужны права более высокого уровня.</h3></div>
    </div>
    <br><br>
    <div>
        <a href="javascript:history.back();"><img src="images/back.jpg" alt="Картинка" width="100" height="50" style="border: none"></a> <span style="font-size:30px; color:green;"> Вернуться </span>
    </div>
</div>
<!-- /.container -->
<br><br>

<div th:replace="footer :: footer"></div>

</body>
</html>