<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Корзина Заказа</title>
</head>
<body>

<div th:replace="header :: headerDispOrder"></div>

<br>
<div class="smetaDispOrder">
<table class="listItems">
<tr>
<th class="col4"></th><th class="col2">№ пп</th><th>Наименование работ</th><th class="col4">Ед. изм.</th><th class="col5">Цена за ед., руб. без НДС</th><th class="col8">Кол-во</th>
<th class="col1">Стоимость</th>
</tr>
<tr th:each="order: ${cart}">
<td class="col4">
<form th:action="@{/deletePriceItemFromOrder}" method="get" style="display:inline;">
<input type="hidden" name="ppnumber" th:value="${order.getPpNumber}">
<input type="hidden" name="quantity" th:value="${order.getQuantity}">
<input type="hidden" name="contractor" th:value="${contractor}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="hidden" name="contractname" th:value="${contractname}">
<input type="submit" name="submit" value="Удалить">
</form>
</td>
<td th:text="${order.getPpNumber}" class="col2"></td><td th:text="${order.getWorkName}"></td><td th:text="${order.getUnitMeasure}" class="col4"></td>
<td th:text="${order.getPrice}" class="col5"></td>
<td class="col8">
<form th:action="@{/savePriceItemQuantityChanges}" id="saveQuantity" method="get" style="display:inline;">
<input type="number" name="newQuantity" th:value="${order.getQuantity}" step="0.01" min="0.01" style="border:none;text-align:center;width:55px;"> &nbsp&nbsp | &nbsp&nbsp
<input type="hidden" name="ppnumber" th:value="${order.getPpNumber}">
<input type="hidden" name="quantity" th:value="${order.getQuantity}">
<input type="hidden" name="contractor" th:value="${contractor}">
<input type="hidden" name="contractnumber" th:value="${contractnumber}">
<input type="hidden" name="contractdate" th:value="${contractdate}">
<input type="hidden" name="contractname" th:value="${contractname}">
<input type="submit" name="submit" value="Изменить" style="display:inline;">
</form>
</td>
<td th:text="${order.getEndPrice}" class="col1"></td>
</tr>

<tr><td colspan="6" style="text-align:right">Итоговая стоимость работ без НДС, руб.</td><td th:text="${sumWithOutNds}"></td></tr>
<tr><td colspan="6" style="text-align:right">НДС % - по ставке в соответствии с законодательством, руб.</td><td th:text="${Nds}"></td></tr>
<tr><td colspan="6" style="text-align:right">Итоговая стоимость с НДС, руб.</td><td th:text="${sumWithNds}"></td></tr>
</table>
</div>
<br>

<div>
<fieldset name="order">
   <legend> Данные для создания Заявки </legend>
   <p class="p_reqinputs"> <i class="i_reqinputs">*</i> - Обязательные поля. Начинай с получения номера Заявки.</p>
<div id="ordersshow1">
   <p style="display:inline;"><label for="ordernumber">№ Заявки: </label>
      <input form ="orderPage" type="number" id="ordernumber" name="ordernumber" th:value="*{ordernumber !=0} ? *{ordernumber} : '' "  min="1" required><i></i></p> &nbsp&nbsp ← | ← &nbsp&nbsp 
          <form id="orderPage2" th:action="@{/orders/showNextOrderNumber}" method="get" style="display:inline;">
          <input type="hidden" name="contractor" th:value="${contractor}">
          <input type="hidden" name="contractnumber" th:value="${contractnumber}">
          <input type="hidden" name="contractdate" th:value="${contractdate}">
          <input type="hidden" name="contractname" th:value="${contractname}">
          <input type="submit" name="submit" value="Получить номер Заявки" class="ordnum">
          </form>
   <p><label for="bsnumber">№ Базовой стации: </label>
      <input form ="orderPage" type="text" id="bsnumber" name="bsnumber" th:value="*{bsnumber !=null} ? *{bsnumber} : '' " placeholder="78-12345 (5-значный) " pattern="78-\d{5}" title="Номер БС должен быть 5-значным." required><i></i></p>
   <p><label for="send">Дата подачи заявки: </label>
      <input form ="orderPage" type="date" id="send" name="send" th:value="*{send !=null} ? *{send} : '' " required><i></i></p>
   <p><label for="start">Начало выполнения работ: </label>
      <input form ="orderPage" type="date" id="start" name="start" th:value="*{start !=null} ? *{start} : '' " required><i></i></p>
   <p><label for="end">Окончание выполнения работ: </label>
      <input form ="orderPage" type="date" id="end" name="end" th:value="*{endtime !=null} ? *{endtime} : '' " required><i></i></p>
   <p style="display:inline;"><label for="remedy">№ Инцидента/работы в Remedy: </label>
      <input form ="orderPage" type="text" id="remedy" name="remedy" th:value="*{remedy !=null} ? *{remedy} : '' " placeholder="MSK000010717602"  required><i></i></p> &nbsp&nbsp | &nbsp&nbsp <a href="http://remedy/arsys/shared/login.jsp" class="remedyhref" target="_blank" style="display:inline;"> Открыть Remedy </a>
   <p><label for="author">Инициатор заявки: ФИО(телефон): </label>
      <input form ="orderPage" type="text" id="author" name="author" th:value="*{author !=null} ? *{author} : ${username}" style="width:250px;" required><i></i></p>
   <p><label for="arenda">Контакт арендодателя: ФИО(телефон): </label>
      <input form ="orderPage" type="text" id="arenda" name="arenda" th:value="*{arenda !=null} ? *{arenda} : '' " placeholder="при необходимости" style="width:300px;"></p>
   <p><label for="arenda">Вид работ: </label>
      <input form ="orderPage" type="text" id="worktype" name="worktype" th:value="*{worktype !=null} ? *{worktype} : '' " style="width:300px;" required><i></i></p>   
   <p><label for="comment">Комментарий: </label>
      <textarea form ="orderPage" id="comment" name="comment" cols="40" rows="5" wrap="hard" placeholder="Пояснение задачи для подрядчика(при необходимости)." th:text="*{comment !=null} ? *{comment} : '' "></textarea></p>
</div>
<div id="ordersshow2">
  <h3 th:text="${contractname}" style="color:#8B4513;"></h3>
</div>
</fieldset>
</div>

<br>
<fieldset name="order">
   <legend> Дополнительные данные (для редактирования статуса Заявки) </legend>
   <p><label for="status">Статус заявки : </label>
      <input form ="orderPage" type="text" id="status" name="status" th:value="*{status !=null} ? *{status} : '' " style="width:450px;"></p>
   <p><label for="orderlistcomment">Комментарии по статусу/проверке/приемке : </label>
      <input form ="orderPage" type="text" id="orderlistcomment" name="orderlistcomment" th:value="*{orderlistcomment !=null} ? *{orderlistcomment} : '' " style="width:450px;"></p>   
   <p><label for="report">Наличие ИД : </label>
      <input form ="orderPage" type="radio" id="report" name="report" th:value="да" th:checked="*{report =='да'}"> Да 
      <input form ="orderPage" type="radio" id="report" name="report" th:value="нет" th:checked="*{report =='нет'}"> Нет </p>
   <p><label for="cedr">Внесено в Кедр: </label>
      <input form ="orderPage" type="radio" id="cedr" name="cedr" th:value="да" th:checked="*{cedr=='да'}"> Да 
      <input form ="orderPage" type="radio" id="cedr" name="cedr" th:value="нет" th:checked="*{cedr=='нет'}"> Нет </p>
</fieldset>

<br><br><br><br>
<div th:replace="footer :: footer"></div>
</body>
</html>