<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Редактирование записи БД</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br>
 <div class="parent1">
 
 <div>
 <h3 style="text-align: center"> Форма редактирования записи БД</h3>
 <fieldset style="border-color:#FFEBCD;text-align: center">
  <form id="useredit" th:action="@{/admin/redEdit}" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <label>№ БС</label><br>
        <input type="text" name="bdname" th:value="${bdname}" style="text-align: center"/>
        <br><br>
        <label>Адрес БС</label><br>
        <input type="text" name="ipaddress" th:value="${ipaddress}" style="text-align: center;width: 700px;"/>
        <br><br>
	    <input type="submit" value="Сохранить" style="width: 100px; height: 40px; background-color: #98FB98;">
 </form>
 </fieldset>
 </div>
 
 </div>
 <br><br>
 
<div th:replace="footer :: footer"></div>

</body>
</html>