<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Редактирование подрядчика</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br>
 <div class="parent1">
 
 <div>
 <h3 style="text-align: center"> Форма редактирования подрядчика</h3>
 <fieldset style="border-color:#FFEBCD;text-align: center">
  <form id="useredit" th:action="@{/admin/contractorEdit}" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <label>Название</label><br>
        <input type="text" name="name" th:value="${name}" style="text-align: center"/>
        <br><br>
        <label>Логин</label><br>
        <input type="text" name="contractor" th:value="${contractor}" style="text-align: center"/>
        <br><br>
        <label>Номер договора</label><br>
        <input type="text" name="number" th:value="${number}" style="text-align: center"/>
        <br><br>
        <label>Дата договора</label><br>
        <input type="date" name="date" th:value="${date}" style="text-align: center;width: 250px;"/>
        <br><br>
        <label>Почта 1 ПО</label><br>
        <input type="email" name="email1" th:value="${email1}" style="text-align: center" required/>
        <br><br>
        <label>Почта 2 ПО</label><br>
        <input type="email" name="email2" th:value="${email2}" style="text-align: center"/>
        <br><br>
        <label>Почта 3 ПО</label><br>
        <input type="email" name="email3" th:value="${email3}" style="text-align: center"/>
        <br><br>
        <label>Почта 11 МТС</label><br>
        <input type="email" name="email11" th:value="${email11}" style="text-align: center" required/>
        <br><br>
        <label>Почта 12 МТС</label><br>
        <input type="email" name="email12" th:value="${email12}" style="text-align: center"/>
        <br><br>
        <label>Почта 13 МТС</label><br>
        <input type="email" name="email13" th:value="${email13}" style="text-align: center"/>
        <br><br>
        <label>Виды работ (объем)</label><br>
        <input type="text" name="work" th:value="${work}" style="text-align: center" required/>
        <br><br>
        <label>Срок действия договора: до</label><br>
        <input type="date" name="contractend" th:value="${contractend}" style="text-align: center" required/>
        <br><br>
	    <input type="submit" value="Сохранить" style="width: 100px; height: 40px; background-color: #98FB98;">
 </form>
 </fieldset>
 </div>
 
 </div>
 <br><br>
 
<div th:replace="footer :: footer"></div>

</body>
</html>