<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Главная страница</title>
</head>
<body>

  <div style="text-align:center">

        <h1 style="color:red">Коллеги, приложение переехало на другой сервер!</h1>
        <h3> Перейдите по ссылке ниже и сохраните её.</h3>
        <a href="10.232.3.49:8081"></a>
        
  </div>


<div th:replace="footer :: footer"></div>
</body>
</html>