<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Главная страница</title>
</head>
<body>

<div th:replace="header :: headerIndex"></div>

<br><br>
<h1 style="color:red;">Проверка / Создание Заказов подрядных организаций</h1>

<br>
<table class=listPoTable>
<tr><th>Организация</th><th></th><th></th><th>Виды работ (объем)</th><th>Срок действия договора: до</th></tr>

<tr th:each="countSumContractorAfuInfra: ${countSumContractorAfuInfra}">
    <td>
    <span th:classappend="${{countSumContractorAfuInfra.getDateValid < 0} ? 'contractnameinvalid' : 'contractnamevalid'}" th:text="${countSumContractorAfuInfra.getName}"></span>
    <sup th:text="${{countSumContractorAfuInfra.getDateValid < 0} ? 'Закончился' : ''}" class=endred></sup>
    </td>
    <td>
    <form id="orderPage2" th:action="@{/priceItems}" method="get">
       <input type="hidden" name="contractor" th:value="${countSumContractorAfuInfra.getContractor}">
       <input type="hidden" name="contractnumber" th:value="${countSumContractorAfuInfra.getNumber}">
       <input type="hidden" name="contractdate" th:value="${countSumContractorAfuInfra.getDate}">
       <input type="hidden" name="contractname" th:value="${countSumContractorAfuInfra.getName}">
       <input type="submit" name="submit" class="tcp_index" value="ТЦП">
       </form>
    </td>
    <td>
    <form id="orderPage2" th:action="@{/orders/showAllOrders}" method="get">
       <input type="hidden" name="contractnumber" th:value="${countSumContractorAfuInfra.getNumber}">
       <input type="submit" name="submit" class="bd_index" value="БД Заявок">
       </form>
    </td>
    
<!-- <td class=countAfuInfraTd>
<span th:text="${countSumContractorAfuInfra.getWork}">Виды работ (объем)</span>
<span class=countAfuInfra th:text="${countSumContractorAfuInfra.getProcentInfra !='0%'} ? 'Инфраструктура факт-'+${countSumContractorAfuInfra.getProcentInfra} : ''"></span> &nbsp
<span class=countAfuInfra th:text="${countSumContractorAfuInfra.getProcentAfu !='0%'} ? 'АФУ факт-'+${countSumContractorAfuInfra.getProcentAfu} : ''"></span>
</td> -->

<td class=countAfuInfraTd>
<span th:text="${countSumContractorAfuInfra.getWork}">Виды работ (объем)</span>
<span class=countAfuInfra th:text="${countSumContractorAfuInfra.getProcentOrders !='0%'} ? 'Факт-'+${countSumContractorAfuInfra.getProcentOrders} : ''"></span>
</td>
    
    <td th:classappend="${{countSumContractorAfuInfra.getDateValid < 0} ? 'datecontractinvalid' : 'datecontractvalid'}" th:text="${countSumContractorAfuInfra.getContractend}">Срок действия договора: до</td></tr>
</table>
<table class=listPoTable style="margin-top:40px">
<tr><td>
<a th:href="@{/orders/searchOrdersThroughAllContractorsIndex}" class="searchPricesItems_index"> &#10155 Поиск заказов по всем подрядным организациям...</a>
</td></tr>
<tr><td>
<a th:href="@{/searchPriceItemsThroughAllContractors}" class="searchPricesItems_index"> &#10155 Поиск работы в таблицах ТЦП всех подрядных организаций...</a>
</td></tr>
</table>

<br><br>
<div th:replace="footer :: footer"></div>

<script type="text/javascript">
var today = new Date();
var todayDay = today.getDate();
var todayMonth = today.getMonth()+1;
var todayYear = today.getFullYear;
</script>

</body>
</html>