<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Добавление ТЦП</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br>
 <div class="parent1">
 
 <div>
<h3>Добавление нового пункта ТЦП</h3>
<fieldset style="border-color:#FFEBCD;text-align: center">
<form th:action="@{/admin/newItemCreate/volot}" th:method="post">
<label>№ пп</label><br>
<input type="text" name="pp" style="text-align: center" required ><br><br>
<label>Наименование работ</label><br>
<input type="text" name="workname" style="text-align: center" required ><br><br>
<label>Ед. изм.</label><br>
<input type="text" name="unitmeasure" style="text-align: center" required ><br><br>
<label>Цена за ед., руб. без НДС</label><br>
<input type="number" name="price" step="0.01" min="0.01" style="text-align: center" required ><br><br>
<label>Описание позиции</label><br>
<input type="text" name="comment" style="text-align: center" required ><br><br>
<input type="submit" value="Создать" style="width: 100px; height: 40px; background-color: #98FB98;">
</form>
</fieldset>
</div>
 
 </div>
 <br><br>
 
<div th:replace="footer :: footer"></div>

</body>
</html>