<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Создание новой записи БД</title>
</head>
<body>

<div th:replace="header :: header"></div>
 
 <br>
 <div class="parent1">
 
 <div>
 <h3 style="text-align: center"> Форма создания новой записи БД</h3>
 <fieldset style="border-color:#FFEBCD;text-align: center">
  <form id="orderedit" th:action="@{/admin/redCreate}" method="post">
        
        <label>Название БД</label><br>
        <input type="text" name="bdname" style="text-align: center" required/>
        <br><br>
        <label>URL БД</label><br>
        <input type="text" name="ipaddress" style="text-align: center;width: 700px;" required/>
        <br><br>
	    <input type="submit" value="Создать" style="width: 100px; height: 40px; background-color: #98FB98;">
 </form>
 </fieldset>
 </div>
 
 </div>
 <br><br>
 
<div th:replace="footer :: footer"></div>

</body>
</html>