<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>Редактирование ТЦП и Договора</title>
</head>
<body>

<div class="test" id="test">

<div th:replace="header :: headerPrices"></div>

<div class="pricesControl_prices">
      <div id="pricesControl_1">
      <form  th:action="@{/admin/newPriceItemForm}" th:method="get" >
      <label>Добавить пункт ТЦП (admin)</label> &nbsp&nbsp
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="hidden" name="contractname" th:value="${contractname}">
      <input type="submit" value="Добавить" >
      </form>
      <br><br>
      <form  th:action="@{/superadmin/deleteAllPrices}" th:method="get" >
      <label style="color:red;">Осторожно! Удалить ТЦП из БД (superAdmin)</label> &nbsp&nbsp
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="hidden" name="contractname" th:value="${contractname}">
      <input type="submit" value="Удалить!" style="background:#FF0000; color:white;" >
      </form>
      </div>
      
      <div id="pricesControl_3">
      <form  th:action="@{/dateBaseToCSV}" th:method="get" >
      <label>Скачать ТЦП из БД в файл .csv</label> &nbsp&nbsp
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="submit" value="Скачать" >
      </form>
      <br><br>
      <form  th:action="@{/downloadContractText}" th:method="get" >
      <label>Скачать Договор из БД .doc </label> &nbsp&nbsp
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="submit" value="Скачать" >
      </form>
      </div>

      <div id="pricesControl_2">
      <form enctype="multipart/form-data" th:action="@{/admin/csvToDateBase}" th:method="post" >
      <label>Загрузка ТЦП в БД (admin)</label> &nbsp&nbsp
      <input type="file" name="file" required>
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="hidden" name="contractname" th:value="${contractname}">
      <input type="submit" value="Загрузить" >
      </form>
      <br><br>
      <form enctype="multipart/form-data" th:action="@{/admin/loadContractText}" th:method="post" >
      <label>Загрузка Договора в БД (admin)</label> &nbsp&nbsp
      <input type="file" name="file" required>
      <input type="hidden" name="contractor" th:value="${contractor}">
      <input type="submit" value="Загрузить" >
      </form>  
      </div>
</div>

<div class="search">
       <div id="search1">
       <form th:action="@{/admin/priceItems}" th:method="get" >
       <label>Поиск по № ТЦП (№ п/п)</label> &nbsp&nbsp
       <input type="hidden" name="contractor" th:value="${contractor}">
       <input type="text" name="ppsearch" required>
       <input type="hidden" name="contractname" th:value="${contractname}">
       <input type="submit" id="findButton1" value="Найти" >
       </form>
       <br><br>
       <form th:action="@{/admin/priceItems}" th:method="get" >
       <label>Поиск по Наименованию работы</label> &nbsp&nbsp
       <input type="hidden" name="contractor" th:value="${contractor}">
       <input type="text" name="workname" required>
       <input type="hidden" name="contractname" th:value="${contractname}">
       <input type="submit" id="findButton2" value="Найти" >
       </form>
       </div>
       <div id="search2">
       <form th:action="@{/admin/priceItems}" th:method="get" >
       <label>Показать все пункты ТЦП</label> &nbsp&nbsp
       <input type="hidden" name="contractor" th:value="${contractor}">
       <input type="hidden" name="contractname" th:value="${contractname}">
       <input type="submit" id="findButton3" value="Показать" >
       </form>
       </div>
       <div id="search3">
       <h3 th:text="${contractname}" style="color:#8B4513;"></h3>
       </div>
</div>

   <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
   </div>   
</div>
<br>

<div class="test2" id="test2">
<table class="listItemsPrice">
<tr>
<th class="col2">№ п/п</th><th class="col3">Наименование работ</th><th class="col4">Ед. изм.</th>
<th class="col5">Цена за ед., руб. без НДС</th><th class="col6">Описание позиции</th><th class="col7">Редактирование ТЦП (admin)</th>
</tr>
<tr th:each="listitem: ${listitems}">
<td th:text="${listitem.getPpNumber}" class="col2"></td><td th:text="${listitem.getWorkName}" class="col3"></td><td th:text="${listitem.getUnitMeasure}" class="col4"></td>
<td th:text="${listitem.getPrice}" class="col5"></td><td th:text="${listitem.getComment}" class="col6"></td>
<td class="col7">
<form th:action="@{/admin/editPriceItemForm}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listitem.getId}">
<input type="hidden" name="contractor" th:value="${contractor}">
<input type="hidden" name="contractname" th:value="${contractname}">
<input type="submit" name="submit" value="Редактировать" style="background:#98FB98;">
</form> &nbsp | &nbsp
<form th:action="@{/admin/deletePriceItem}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listitem.getId}">
<input type="hidden" name="contractor" th:value="${contractor}">
<input type="hidden" name="contractname" th:value="${contractname}">
<input type="submit" name="submit" value="Удалить" style="background:#FF0000; color:white;">
</form>
</td>
</tr>
</table>
</div>

<br><br><br>
<div th:replace="footer :: footer"></div>

<script type="text/javascript">
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  sessionStorage.setItem("nowscroll",winScroll);
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";}
  
document.addEventListener("DOMContentLoaded", readyLoadPage);

function readyLoadPage(){
	var rlp=sessionStorage.getItem("nowscroll");
	document.documentElement.scrollTop=rlp;};
	
document.getElementById("findButton1").addEventListener("click", scrollToNull);
document.getElementById("findButton2").addEventListener("click", scrollToNull);
document.getElementById("findButton3").addEventListener("click", scrollToNull);

function scrollToNull(){
	sessionStorage.setItem("nowscroll",0);}
</script>

</body>
</html>