<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>БД Заявок</title>
</head>
<body id="up1">

<div class="headerShowOrders">
<div  th:replace="header :: header"></div>

<p id="up"><a href="#down" class="up">В конец страницы ↓</a></p>

<div class="findOrdersSearch" id="find">
  <div id="orderssearchLeft">         
     <form th:action="@{/orders/searchOrdersThroughAllContractors}" th:method="get">
       <label>№ Заказа  </label> &nbsp&nbsp
       <input type="number" name="ordernumber" min="0"> &nbsp&nbsp | &nbsp&nbsp
       
       <label>№ БС</label> &nbsp&nbsp
       <input type="text" name="bsnumber" placeholder="Код '78-' указывать необязательно" style="width:220px"> &nbsp&nbsp | &nbsp&nbsp
       
       <label>Подрядчик  </label> &nbsp&nbsp
       <input type="text" name="contractname"> &nbsp&nbsp | &nbsp&nbsp
     
       <label>Инициатор  </label> &nbsp&nbsp
       <input type="text" name="author">
       
       <br><br>  
          
       <label>Вид работ</label> &nbsp&nbsp
       <input type="text" name="worktype" style="width:220px">
       <br><br>
       
       <input type="submit" value="Найти" >  
     </form>       
  </div> 
</div>
</div>
<div class="ordersSearchOrders">
<table class="listItems_showOrders">
<tr>
<th class="col11">№ Заказа</th><th class="col12">№ БС</th><th class="col13">Дата ТЗ</th><th class="col14">Стоимость без|c НДС</th>
<th class="15">ИД</th><th class="col16">Внесено в Кедр</th><th class="col17">Статус Заказа</th>
<th class="col18">Срок по ТЗ</th><th class="col19">Вид работ</th>
<th class="col20">Комментарии (статус/проверка/приемка)</th><th class="col21"></th>
</tr>
<tr th:each="listOrder : ${listOrders}">
<td th:text="${listOrder.getOrdernumber}" class="col11"></td><td th:text="${listOrder.getBsnumber}" th:title="${listOrder.getBsaddress}" class="col12"></td>
<td th:text="${listOrder.getSend}" class="col13"></td><td th:text="${listOrder.getSumwithoutnds}+' | '+${listOrder.getSumwithnds}" class="col14"></td>
<td th:text="${listOrder.getReport}" th:class="${listOrder.getReport =='да' ? 'col151' : 'col152'}"></td>
<td th:text="${listOrder.getCedr}" th:title="${listOrder.getAuthor}" th:class="${listOrder.getCedr =='да' ? 'col161' : 'col162'}"></td>
<td th:text="${listOrder.getStatus}" class="col17"></td><td th:text="${listOrder.getEndtime}" class="col18"></td>
<td th:text="${listOrder.getWorktype}" th:title="${listOrder.getComment}" class="col19"></td><td th:text="${listOrder.getOrderlistcomment}" class="col20"></td>
<td class="col21">
<p th:text="${listOrder.getContractname}"></p>
<br>
<form th:action="@{/orders/orderCopy}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractor" th:value="${listOrder.getContractor}">
<input type="hidden" name="contractname" th:value="${listOrder.getContractname}">
<input type="submit" name="submit" value="Создать копию" style="background:#808080; color:white;">
</form> &nbsp | &nbsp
<form th:action="@{/orders/orderPage}" method="get" target="_blank" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="submit" name="submit" value="Страница Заявки" >
</form>
</td>
</tr>
</table>
</div>
<p id="down"><a href="#up1" class="down">В начало страницы ↑</a></p>
</body>
</html>