<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<script th:src="@{/js/charSort.js}"></script>
<script th:src="@{/js/digitSort.js}"></script>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<title>БД Заявок</title>
</head>
<body id="up1">

<div class="headerShowOrders">
<div  th:replace="header :: header"></div>

<p id="up"><a href="#down" class="up">В конец страницы ↓</a></p>

<div class="findOrdersSearch" id="find">
  <div id="orderssearchLeft">         
     <form th:action="@{/orders/searchOrdersThroughAllContractors}" id="searchForm_searchOrders" th:method="get">
              
       <label>№ БС</label> &nbsp&nbsp
       <input type="text" name="bsnumber" id="bsnumber_searchOrders" placeholder="Все" style="width:220px"> &nbsp&nbsp | &nbsp&nbsp
              
       <label>Подрядчик</label> &nbsp&nbsp
       <select name="contractname" id="contractname_searchOrders">
       <option selected value="%">Все</option>
       <option th:each="contractor: ${contractors}" th:text="${contractor.getName}" th:value="${contractor.getName}"></option>
       </select> &nbsp&nbsp | &nbsp&nbsp
     
       <label>Инициатор</label> &nbsp&nbsp
       <input type="text" name="author" id="author_searchOrders" placeholder="Все"> &nbsp&nbsp | &nbsp&nbsp
          
       <label>Вид работ</label> &nbsp&nbsp
       <input type="text" name="worktype" id="worktype_searchOrders" placeholder="Все" style="width:220px">
       <br><br>
       
       <label>Наименование (или № п.) работы из ТЦП</label> &nbsp&nbsp
       <input type="text" name="worktcp" id="worktcp_searchOrders" placeholder="Все" style="width:220px"> &nbsp&nbsp | &nbsp&nbsp
       
       <label>Наличие ИД</label> &nbsp&nbsp
       <select name="report" id="report_searchOrders" style="width:100px">
       <option value="%" selected> Все </option>
       <option value="да"> Да </option>
       <option value="нет"> Нет </option> 
       </select>&nbsp&nbsp | &nbsp&nbsp
       
       <label>Внесено в Кедр</label> &nbsp&nbsp
       <select name="cedr" id="cedr_searchOrders" style="width:100px">
       <option value="%" selected> Все </option>
       <option value="да"> Да </option>
       <option value="нет"> Нет </option> 
       </select>&nbsp&nbsp | &nbsp&nbsp
       
       <label>Комментарии заявки</label> &nbsp&nbsp
       <input type="text" name="comment" id="comment_searchOrders" placeholder="Все" style="width:220px">
       <br><br>
              
       <label>Статус Заказа</label> &nbsp&nbsp
       <select name="status" id="status_searchOrders" style="width:120px">
       <option value="xyz999" selected> Все </option>
       <option value="(оплачен|сторнир|отмен)"> Не оплачен </option>
       <option value="(оплачен|сторнир|отмен|отправ|№|ип)"> Не известен </option> 
       </select> &nbsp&nbsp | &nbsp&nbsp
       
       <label>Комментарии (статус/проверка/приемка)</label> &nbsp&nbsp
       <input type="text" name="orderlistcomment" id="orderlistcomment_searchOrders" placeholder="Все" style="width:220px"> &nbsp&nbsp | &nbsp&nbsp
        
       <input type="submit" value="Найти" id="search_searchOrders" style="background-color: #98FB98"> &nbsp&nbsp
       <input type="reset" value="Очистить" style="background-color: #FFC0CB"> &nbsp&nbsp | &nbsp&nbsp
       <span th:text="'Найдено записей: '+${listOrdersSize}" style="color:#8B4513"></span> &nbsp&nbsp&nbsp
       <span th:text="'На сумму (без НДС): '+${listOrderSumm}+' руб.'" style="color:#8B4513"></span>
         
     </form>       
  </div> 
</div>
</div>
<div class="ordersSearchOrders">
<table class="listItems_searchOrders" id="listItems_searchOrders">
<tr>
<th class="col11" onclick="digitSortTable_searchOrders(0)">№ Заказа &#8597;</th><th class="col12">№ БС</th><th class="col13">Дата ТЗ</th><th class="col14">Стоимость без|c НДС</th>
<th class="15" onclick="sortTable_searchOrders(4)">ИД &#8597;</th><th class="col16" onclick="sortTable_searchOrders(5)">Внесено в Кедр &#8597;</th><th class="col17" onclick="sortTable_searchOrders(6)">Статус Заказа &#8597;</th>
<th class="col18">Срок по ТЗ</th><th class="col19">Вид работ</th>
<th class="col20" onclick="sortTable_searchOrders(9)">Комментарии (статус/проверка/приемка) &#8597;</th><th class="col21"></th>
</tr>
<tr th:each="listOrder : ${listOrders}">
<td th:text="${listOrder.getOrdernumber}" class="col11"></td><td th:text="${listOrder.getBsnumber}" th:title="${listOrder.getBsaddress}" class="col12"></td>
<td th:text="${listOrder.getSend}" class="col13"></td><td th:text="${listOrder.getSumwithoutnds}+' | '+${listOrder.getSumwithnds}" class="col14"></td>
<td th:text="${listOrder.getReport}" th:class="${listOrder.getReport =='да' ? 'col151' : 'col152'}"></td>
<td th:text="${listOrder.getCedr}" th:title="${listOrder.getAuthor}" th:class="${listOrder.getCedr =='да' ? 'col161' : 'col162'}"></td>
<td th:text="${listOrder.getStatus}" class="col17"></td><td th:text="${listOrder.getEndtime}" class="col18"></td>
<td th:text="${listOrder.getWorktype}" th:title="${listOrder.getComment}" class="col19"></td><td th:text="${listOrder.getOrderlistcomment}" class="col20"></td>
<td class="col21">
<p th:text="${listOrder.getContractname}" style="color:#8B4513"></p>
<form th:action="@{/orders/orderEdit}" method="get" target="_blank" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractor" th:value="${listOrder.getContractor}">
<input type="hidden" name="contractname" th:value="${listOrder.getContractname}">
<input type="submit" name="submit" value="Редактировать" style="background:#98FB98;">
</form> &nbsp | &nbsp
<form th:action="@{/superadmin/orderDelete}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractnumber" th:value="${listOrder.getContractnumber}">
<input type="submit" name="submit" value="Удалить" style="background:#FF0000; color:white;">
</form>
<br><br>
<form th:action="@{/orders/orderCopy}" method="get" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="hidden" name="contractor" th:value="${listOrder.getContractor}">
<input type="hidden" name="contractname" th:value="${listOrder.getContractname}">
<input type="submit" name="submit" value="Создать копию" style="background:#808080; color:white;">
</form> &nbsp | &nbsp
<form th:action="@{/orders/orderPage}" method="get" target="_blank" style="display:inline;">
<input type="hidden" name="id" th:value="${listOrder.getId}">
<input type="submit" name="submit" value="Страница Заявки" >
</form>
</td>
</tr>
</table>
</div>
<p id="down"><a href="#up1" class="down">В начало страницы ↑</a></p>

<script type="text/javascript">
document.getElementById("search_searchOrders").addEventListener("click", saveOldData);
document.addEventListener("DOMContentLoaded", readyLoadPage);
document.getElementById("main").addEventListener("click", resetData);
function saveOldData(){
var oldBsnumberScript=document.getElementById("bsnumber_searchOrders").value;
var oldContractNameScript=document.getElementById("contractname_searchOrders").value;
var oldAuthorScript=document.getElementById("author_searchOrders").value;
var oldWorkTypeScript=document.getElementById("worktype_searchOrders").value;
var oldWorkTcpScript=document.getElementById("worktcp_searchOrders").value;
var oldReportScript=document.getElementById("report_searchOrders").value;
var oldCedrScript=document.getElementById("cedr_searchOrders").value;
var oldStatusScript=document.getElementById("status_searchOrders").value;
var oldOrderListCommentScript=document.getElementById("orderlistcomment_searchOrders").value;
sessionStorage.setItem("bsnumber_searchOrders",oldBsnumberScript);
sessionStorage.setItem("contractname_searchOrders",oldContractNameScript);
sessionStorage.setItem("author_searchOrders",oldAuthorScript);
sessionStorage.setItem("worktype_searchOrders",oldWorkTypeScript);
sessionStorage.setItem("worktcp_searchOrders",oldWorkTcpScript);
sessionStorage.setItem("report_searchOrders",oldReportScript);
sessionStorage.setItem("cedr_searchOrders",oldCedrScript);
sessionStorage.setItem("status_searchOrders",oldStatusScript);
sessionStorage.setItem("orderlistcomment_searchOrders",oldOrderListCommentScript);};
function readyLoadPage(){
	document.getElementById("bsnumber_searchOrders").value=sessionStorage.getItem("bsnumber_searchOrders");
	document.getElementById("contractname_searchOrders").value=sessionStorage.getItem("contractname_searchOrders");
	document.getElementById("author_searchOrders").value=sessionStorage.getItem("author_searchOrders");
	document.getElementById("worktype_searchOrders").value=sessionStorage.getItem("worktype_searchOrders");
	document.getElementById("worktcp_searchOrders").value=sessionStorage.getItem("worktcp_searchOrders");
	document.getElementById("report_searchOrders").value=sessionStorage.getItem("report_searchOrders");
	document.getElementById("cedr_searchOrders").value=sessionStorage.getItem("cedr_searchOrders");
	document.getElementById("status_searchOrders").value=sessionStorage.getItem("status_searchOrders");
	document.getElementById("orderlistcomment_searchOrders").value=sessionStorage.getItem("orderlistcomment_searchOrders");
};
function resetData(){
	sessionStorage.setItem("bsnumber_searchOrders","");
	sessionStorage.setItem("contractname_searchOrders","");
	sessionStorage.setItem("author_searchOrders","");
	sessionStorage.setItem("worktype_searchOrders","");
	sessionStorage.setItem("worktcp_searchOrders","");
	sessionStorage.setItem("report_searchOrders","");
	sessionStorage.setItem("cedr_searchOrders","");
	sessionStorage.setItem("status_searchOrders","");
	sessionStorage.setItem("orderlistcomment_searchOrders","");
};
</script>
</body>
</html>